<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345097831966-d0e92p9r7g4o0jisckk0tcn3fec9jo09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345097831966-d0e92p9r7g4o0jisckk0tcn3fec9jo09</string>
	<key>API_KEY</key>
	<string>AIzaSyC6lxwKdRaf6T5um2Nc_hYbknepp696xuI</string>
	<key>GCM_SENDER_ID</key>
	<string>345097831966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeinabtarek.b-app221</string>
	<key>PROJECT_ID</key>
	<string>essnad-db63b</string>
	<key>STORAGE_BUCKET</key>
	<string>essnad-db63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345097831966:ios:42b2cd5d5a68b0ee1e900f</string>
</dict>
</plist>